body{
    background-color: black;
}
#image{
    margin-left: 25%;
    width: 50%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

img{

    border: 5px solid white;
    width: 100%;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}